* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}
.form {
    max-width: 920px;
    min-width: 450px;
    padding: 2rem;
    margin: 1rem auto 0;
    border-radius: 1.5rem;
    background: rgba(148,187,233,1);
    background: linear-gradient(0.08turn, rgba(238, 227, 174,1), rgba(148,187,233,1));
    box-shadow: 0 25px 50px -12px rgb(0 0 0);
}
.logo {
    font-style: normal;
    font-weight: normal;
    font-size: calc(50 / 1920 * 100vw);
    line-height: calc(85 / 1920 * 100vw);
    text-transform: uppercase;
}
.data{
    font-size: calc(26 / 1920 * 100vw);
}
.pic {
    width: 200px;
    height: auto;
}
.khymych{
    font-size: calc(28 / 1920 * 100vw);
    font-style: italic;
}
.about_khymych{
    font-size: calc(26 / 1920 * 100vw);
}
.purchase{
    font-size: calc(28 / 1920 * 100vw);
}
.purchase_process{
    font-size: calc(26 / 1920 * 100vw);
}
.email{
    font-size: calc(26 / 1920 * 100vw);
    color: rgb(33, 75, 139);
}
.form button {
  font-size: calc(22 / 1920 * 100vw);
  color: #051839;
  cursor: pointer;
  padding: 0.5rem 3rem;
  margin: 0 auto;
  border: 0px;
  border-radius: 1rem;
  background-color: rgb(153, 199, 148);
  box-shadow: 0 4px 6px -1px rgb(0 0 0), 0 2px 4px -2px rgb(0 0 0);
}
.buy_artwork{
    font-size: calc(26 / 1920 * 100vw);
}
.list{
    font-size: calc(28 / 1920 * 100vw);
}
.redirect{
    font-size: calc(18 / 1920 * 100vw);
    line-height: calc(15 / 1920 * 100vw);
}
.paintings{
    font-size: calc(24 / 1920 * 100vw);
}
.img1{
    width: 500px;
    height: auto;
}
.img2{
    height: 630px;
    width: auto;
}
.img11{
    height: 700px;
    width: auto;
}
