<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <header>
        <h1 class="logo" onclick="location.href = '/'">Kyivart</h1>
        <div class="head">
            <div class="mural-girls"></div>
            <p class="data">
                    Мурал - це можливість показати, що місто розвивається, не вдаючись до серйозних
                    інфраструктурних або соціальних змін. Найняті, в основному, за кордоном художники
                    малюють щось яскраве і веселе, що протистоїть сірим стінам.
            </p>
        </div>
    </header>
    <section class="main">
        <div class="mural-reading"></div>
        <div class="boom">
            <p>
                Київський бум муралів припав на неспокійний для країни час. Деякі роботи стали
                відповіддю на великі потрясіння. До їх числа можна віднести мурали групи INTERESNI KAZKI ,
                що мають яскравий патріотичний підтекст, алегоричне зображення України в образі дівчини на
                Андріївському узвозі, портрет загиблого на Майдані Сергія Нігоян Сергій Гагікович, виконаний
                в оригінальній техніці. Незабаром точкові епізоди появи муралів переросли в цілі
                ініціативи - наприклад, проект художника і режисера Гео ЛЕРОС City Art.
            </p>
        </div>
        <div class="mural-whale"></div>
        <div class="new_project">
            <p>
                У березні 2016 Києві народився ще один проект, покликаний дати нове життя старим стінам.
                Мета міжнародної ініціативи Art United Us  - об'єднати художників в боротьбі проти пропаганди.
                200 розмальованих стін в Києві та по всьому світу повинні стати маніфестом боротьби за мир і
                привернути увагу до глобальних проблем, використовуючи образотворче мистецтво як медіум.
            </p>
        </div>
        <div class="mural-flower"></div>
    </section>
    <footer>
        <small>© Kyivart.net. All rights reserved.</small>
    </footer>
</body>
</html>