
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Синій птах</title>
    <link rel="stylesheet" href="../static/css/bluebird.css">
</head>
<body>
    <header>
        <h1 class="logo" onclick="location.href = '/'">Kyivart</h1>
        <div class="head">
            <div class="mural-pic"></div>
            <div class="mural-data">
                <div class="mural-label">
                    <div class="label-category">Мурал</div>
                    <div class="label-name">Синій птах</div>
                </div>
                <div class="mural-description">
                    <p class="desc-item"><u>Де</u>: бульвар Лесі Українки, 5</p>
                    <p class="desc-item"><u>Час створення</u>: червень 2016 року</p>
                    <p class="desc-item"><u>Автор</u>: американський художник Ернесто Марані (Ernesto Maranje)</p>
                </div>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="history-txt">
            <p class="story-1">
                Ернесто Марані, в рамках проекту присвяченого вуличного мистецтва "Art United Us", створив свою "другу"
                птицю на вулицях Києва. Мурал "Синій птах" намальований в червні 2016 на торці будинку біля бібліотеки
                імені Лесі Українки. І виконаний в характерному стилі автора. Якщо пост із зображенням муралу набере
                більше 50000 лайків, подібні птиці продовжать заселяти Київ.

            </p>
        </div>
        <div class="story-pic-big"></div>
        <div class="add-info">
            <p class="add-info-txt">
                Але родзинкою муралу можна назвати квіти, якими всипана птаха, - ромашки і бузок. Місцеві жителі
                прозвали її "синім птахом", а часом називають "птахом щастя". Це не перша робота художника, на лівому
                березі столиці їм була створена картина "Різнобарвний журавель". Варто звернути увагу і на фасад
                Центральної районної бібліотеки Печерського району , де зображені сотні контурів людей і тварин.
            </p>
            <div class="spec-border"></div>
        </div>
        <div class="bottom-pics">
            <div class="btm-pic" id="btm-pic-1"></div>
            <div class="btm-pic" id="btm-pic-2"></div>
        </div>
    </section>
    <footer>
        <small>© Kyivart.net. All rights reserved.</small>
    </footer>
</body>
</html>