<!DOCTYPE html>
<html lang="uk">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>KyivArt</title>
</head>
    <body id="mode">
    <header>
        <h1>KyivArt</h1>
        <button onclick="location.href = '/login';">{{ login }}</button>
        <video autoplay muted loop id="myVideo">
            <source src="../static/video/mural-video.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </header>
    <section class="introduction">
        <div class="introduction-left">
            <div class="lf-intro">
                <h2 class="lf-intro-txt">Київ<span class="lowercase"> - місто яке </span>надихає</h2>
                <div class="lf-intro-pic"></div>
            </div>
            <div class="lf-info">
                <p class="lf-info-txt" id="fl-txt-1">
                    Мурали і стріт-арт в сучасному світі - це незамінний і яскравий дизайн міст.
                </p>
                <div class="lf-info-pic"></div>
                <p class="lf-info-txt" id="fl-txt-2">
                    Вони залучають кожен день увагу мільйонів людей, і нікого не залишать байдужими.
                </p>
            </div>
        </div>
        <div class="introduction-right">
            <div class="pics-top">
                <div id="pic-top-left"></div>
                <div id="pic-top-right"></div>
            </div>
            <div class="right-btm">
                <div class="pics-btm">
                    <div id="pic-btm-top"></div>
                    <div id="pic-btm-btm"></div>
                 </div>
                <div class="links">
                    <div id="about" onclick="location.href = '/about'">About</div>
                    <div class="logo-pic" id="logo-pic-twit"></div>
                    <div class="logo-pic" id="logo-pic-insta"></div>
                    <div class="logo-pic" id="logo-pic-theme" onclick="themeChanger()"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="murals-links">
        <div class="mur-link-big" onclick="location.href = '/rebirth';">
            <h3 class="mur-link-big-txt">Відродження України</h3>
        </div>
        <div class="mur-links">
            <div id="mur-link-01" class="mur-link" onclick="location.href = '/rabbit';">
                <div id="mur-link-pic-01" class="mur-link-pic"></div>
                <h3 id="mur-link-txt-01" class="mur-link-txt">Кролики і ластівки</h3>
            </div>
            <div id="mur-link-02" class="mur-link" onclick="location.href = '/kpi';">
                <div id="mur-link-pic-02" class="mur-link-pic"></div>
                <h3 id="mur-link-txt-02" class="mur-link-txt">Протони КПІ</h3>
            </div>
            <div id="mur-link-03" class="mur-link" onclick="location.href = '/selfmademan';">
                <div id="mur-link-pic-03" class="mur-link-pic"></div>
                <h3 id="mur-link-txt-03" class="mur-link-txt">Selfmademan</h3>
            </div>
            <div id="mur-link-04" class="mur-link" onclick="location.href = '/ukbird';">
                <div id="mur-link-pic-04" class="mur-link-pic"></div>
                <h3 id="mur-link-txt-04" class="mur-link-txt">Птах на Бажана</h3>
            </div>
            <div id="mur-link-05" class="mur-link" onclick="location.href = '/labyrinth';">
                <div id="mur-link-pic-05" class="mur-link-pic"></div>
                <h3 id="mur-link-txt-05" class="mur-link-txt">Лабіринт</h3>
            </div>
            <div id="mur-link-06" class="mur-link" onclick="location.href = '/deer';">
                <div id="mur-link-pic-06" class="mur-link-pic"></div>
                <h3 id="mur-link-txt-06" class="mur-link-txt">Переправа</h3>
            </div>
            <div id="mur-link-07" class="mur-link" onclick="location.href = '/yellbird';">
                <div id="mur-link-pic-07" class="mur-link-pic"></div>
                <h3 id="mur-link-txt-07" class="mur-link-txt">Свобода</h3>
            </div>
            <div id="mur-link-08" class="mur-link" onclick="location.href = '/bluebird';">
                <div id="mur-link-pic-08" class="mur-link-pic"></div>
                <h3 id="mur-link-txt-08" class="mur-link-txt">Синій птах</h3>
            </div>
            <div id="mur-link-09" class="mur-link" onclick="location.href = '/sea';">
                <div id="mur-link-pic-09" class="mur-link-pic"></div>
                <h3 id="mur-link-txt-09" class="mur-link-txt">Українське чорне море</h3>
            </div>
            <div id="mur-link-10" class="mur-link" onclick="location.href = '/waterfall';">
                <div id="mur-link-pic-10" class="mur-link-pic"></div>
                <h3 id="mur-link-txt-10" class="mur-link-txt">Водоспад</h3>
            </div>
            <div id="mur-link-11" class="mur-link" onclick="location.href = '/planes';">
                <div id="mur-link-pic-11" class="mur-link-pic"></div>
                <h3 id="mur-link-txt-11" class="mur-link-txt">Паперові літачки</h3>
            </div>
        </div>
    </section>
    <section class="murals-img">
        <div class="murals-img-row">
            <div class="mural-img" id="mural-img-1"></div>
            <div class="mural-img" id="mural-img-2"></div>
            <div class="mural-img" id="mural-img-3"></div>
            <div class="mural-img" id="mural-img-4"></div>
        </div>
        <div class="murals-img-row">
            <div class="mural-img" id="mural-img-5"></div>
            <div class="mural-img" id="mural-img-6"></div>
            <div class="mural-img" id="mural-img-7"></div>
            <div class="mural-img" id="mural-img-8"></div>
        </div>
    </section>
    <footer>
        <small class="copyright">© Kyivart.net. All rights reserved.</small>
    </footer>
</body>
    <script src="../static/js/main.js"></script>
</html>