
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Птах на Бажана</title>
    <link rel="stylesheet" href="../static/css/ukbird.css">
</head>
<body>
    <header>
        <h1 class="logo" onclick="location.href = '/'">Kyivart</h1>
        <div class="head">
            <div class="mural-pic"></div>
            <div class="mural-data">
                <div class="mural-label">
                    <div class="label-category">Мурал</div>
                    <div class="label-name">Птах на Бажана</div>
                </div>
                <div class="mural-description">
                    <p class="desc-item"><u>Де</u>: проспект Миколи Бажана 5е</p>
                    <p class="desc-item"><u>Час створення</u>:  в травні 2016 року</p>
                    <p class="desc-item"><u>Автор</u>: американський вуличный художник з Майями Ернесто Маранж (Ernesto Maranje)</p>
                </div>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="history-txt">
            <p class="story-1">
                На стіні столичної багатоповерхівки зображена птаха з яскравими різнобарвними пір'ям, прикрашена безліччю
                квітів і рослинних елементів. Стірт-арт намальований в травні 2016 року в рамках проекту Art United Us.
                Його метою є привернення уваги  до проблеми війни і агресії. Мурал американського стріт-артиста став першим
                в галереї вуличних робіт по проспекту Бажана.
            </p>
        </div>
        <div class="story-pic-big"></div>
        <div class="add-info">
            <p class="add-info-txt">
                Художник пообіцяв, що якщо пост із зображенням різнобарвної птиці набере більше 5000 лайків, він обов'язково
                створить в Києві ще один мурал. Менш ніж за тиждень пост зібрав 20000 лайків і Ернесто зайнявся новим муралом
                на бульварі Лесі Українки. Нова робота продовжила тематику. Якщо в Дарницькому районі мурал нагадував журавля,
                то на Печерську більше схоже на сіал

            </p>
            <div class="spec-border"></div>
        </div>
        <div class="bottom-pics">
            <div class="btm-pic" id="btm-pic-1"></div>
            <div class="btm-pic" id="btm-pic-2"></div>
        </div>
    </section>
    <footer>
        <small>© Kyivart.net. All rights reserved.</small>
    </footer>
</body>
</html>