@font-face {
    font-family: StreetbrushW01-Regular;
    src: url("../fonts/StreetbrushW01-Regular.otf");
}
@font-face {
    font-family: Whitney;
    src: url('../fonts/whitneylight.ttf');
}
@font-face {
    font-family: Mont;
    src: url('../fonts/MontExtraLight.ttf');
}
* {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}
body {
    padding: calc(34 / 1920 * 100vw) calc(44 / 1920 * 100vw) calc(61 / 1920 * 100vw);
}
header {
    padding-top: calc(34 / 1920 * 100vw);
    padding-left: calc(36 / 1920 * 100vw);
}
.logo {
    width: calc(300 / 1920 * 100vw);
    height: calc(100 / 1920 * 100vw);
    font-family: StreetbrushW01-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: calc(90 / 1920 * 100vw);
    line-height: calc(132 / 1920 * 100vw);
    text-transform: uppercase;
}
.head {
    display: flex;
}
.mural-girls{
    background: url("../img/grls1.png");
    background-size: cover;
    width: calc(560 / 1920 * 100vw);
    height: calc(960 / 1920 * 100vw);
    margin-top: calc(26 / 1920 * 100vw);
}
.data{
    background: url("../img/descr.svg");
    background-size: cover;
    font-family: Mont;
    font-style: normal;
    font-size: calc(50 / 1920 * 100vw);
    width: calc((1003 - 80) / 1920 * 100vw);
    height: calc((582 - 80) / 1920 * 100vw);
    padding: calc(80 / 1920 * 100vw) 0 0 calc(80 / 1920 * 100vw);
    margin: calc(186 / 1920 * 100vw) 0 0 calc(80 / 1920 * 100vw);
    color: #000000;
}
.mural-reading{
    background: url("../img/kazki3.png");
    background-size: cover;
    width: calc(1606 / 1920 * 100vw);
    height: calc(1520 / 1920 * 100vw);
    display: flex;
    justify-content: center;
    margin-top: calc(160 / 1920 * 100vw);
}
.boom{
    font-family: Mont;
    font-style: normal;
    text-align: center;
    width: calc(1120 / 1920 * 100vw);
    height: calc(888 / 1920 * 100vw);
    margin-left: calc(400 / 1920 * 100vw);
    margin-top: calc(160 / 1920 * 100vw);
    font-size: calc(50 / 1920 * 100vw);
    color: #000000;
}
.mural-whale{
    background: url("../img/whale2.png");
    background-size: cover;
    width: calc(1600 / 1920 * 100vw);
    height: calc(1040 / 1920 * 100vw);
    margin: auto;
    margin-top: calc(160 / 1920 * 100vw);
}
.new_project{
    font-family: Mont;
    font-style: normal;
    text-align: center;
    width: calc(1311 / 1920 * 100vw);
    height: calc(584 / 1920 * 100vw);
    margin-left: calc(304 / 1920 * 100vw);
    margin-top: calc(160 / 1920 * 100vw);
    font-size: calc(50 / 1920 * 100vw);
    color: #000000;
}
.mural-flower{
    background: url("../img/flower1.png");
    margin: auto;
    background-size: cover;
    width: calc(1120 / 1920 * 100vw);
    height: calc(720 / 1920 * 100vw);
    margin-top: calc(160 / 1920 * 100vw);
}
/*
    Copyright
*/
footer {
    margin-top: calc(170 / 1920 * 100vw);
}
small {
    width: calc(996 / 1920 * 100vw);
    font-family: Mont;
    font-size: calc(55 / 1920* 100vw);
    line-height: calc(70 / 1920 * 100vw);
    text-align: center;
    text-transform: uppercase;
}