@font-face {
    font-family: StreetbrushW01-Regular;
    src: url("../fonts/StreetbrushW01-Regular.otf");
}
@font-face {
    font-family: Whitney;
    src: url('../fonts/whitneylight.ttf');
}
@font-face {
    font-family: Mont;
    src: url('../fonts/MontExtraLight.ttf');
}
* {
    margin: 0;
    padding: 0;
}
body {
    padding: calc(34 / 1920 * 100vw) calc(44 / 1920 * 100vw) calc(61 / 1920 * 100vw);
}
header {
    padding-top: calc(34 / 1920 * 100vw);
    padding-left: calc(36 / 1920 * 100vw);
}
.logo {
    width: calc(300 / 1920 * 100vw);
    height: calc(100 / 1920 * 100vw);
    font-family: StreetbrushW01-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: calc(90 / 1920 * 100vw);
    line-height: calc(132 / 1920 * 100vw);
    text-transform: uppercase;
}
.head {
    display: flex;
    margin-top: calc(26 / 1920 * 100vw);
}
.mural-pic {
    background: url("../img/ukbird1.png");
    background-size: cover;
    width: calc(800 / 1920 * 100vw);
    height: calc(1200 / 1920 * 100vw);
}
.mural-data {
    width: calc(800 / 1920 * 100vw);
    height: calc(713 / 1920 * 100vw);
    margin-left: calc(80 / 1920 * 100vw);
    margin-top: calc(155 / 1920 * 100vw);
}
.label-category {
    width: calc(166.6 / 1920 * 100vw);
    height: calc(66.95 / 1920 * 100vw);
    font-family: Whitney, Arial;
    font-size: calc(42 / 1920 * 100vw);
    line-height: calc(54 / 1920 * 100vw);
    text-transform: uppercase;
    color: #626262;
}
.label-name {
    width: calc(530 / 1920 * 100vw);
    height: calc(186.09 / 1920 * 100vw);
    font-family: Mont;
    font-style: normal;
    font-weight: 300;
    font-size: calc(76 / 1920 * 100vw);
    line-height: calc(97 / 1920 * 100vw);
}
.mural-description {
    width: calc(728 / 1920 * 100vw);
    height: calc(394 / 1920 * 100vw);
    margin-top: calc(53.91 / 1920 * 100vw);
}
.desc-item {
    font-family: Whitney, Arial;
    font-size: calc(42 / 1920 * 100vw);
    line-height: calc(54 / 1920 * 100vw);
    color: #626262;
    margin-bottom: calc(21 / 1920 * 100vw);
}
/*
    Main section
*/
.main {
    margin-top: calc(170 / 1920 * 100vw);
}
.history-txt {
    width: calc(1282 / 1920 * 100vw);
    height: calc((640.22 - 9.9) / 1920 * 100vw);
    font-family: Whitney;
    font-size: calc(54 / 1920 * 100vw);
    line-height: calc(61 / 1920 * 100vw);
    margin: auto;
    padding-top: calc(9.9 / 1920 * 100vw);
    text-align: center;
    background: url("../img/story-brd.svg");
    background-size: 100% 100%;
}
.story-1 {
    width: calc(1131 / 1920 * 100vw);
    margin: auto;

}
.story-pic-big {
    background: url("../img/ukbird2.png");
    background-size: cover;
    width: calc(1760 / 1920 * 100vw);
    height: calc(640 / 1920 * 100vw);
    margin: auto;
    margin-top: calc(160 / 1920 * 100vw);
}
.add-info {
    margin-top: calc(148 / 1920 * 100vw);
}
.add-info-txt {
    width: calc(1440 / 1920 * 100vw);
    height: calc(492 / 1920 * 100vw);
    font-family: Whitney;
    font-size: calc(54 / 1920 * 100vw);
    line-height: calc(61 / 1920 * 100vw);
    text-align: center;
    margin: auto;
    background: url("../img/story-brd-2.svg");
    background-size: cover;
    color: #626262;
}
.spec-border {
    display: none;
    position: absolute;
    width: calc(386 / 1920 * 100vw);
    height: calc(480 / 1920 * 100vw);
    left: calc(767 / 1920 * 100vw);
    top: calc(3120 / 1920 * 100vw);
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.bottom-pics {
    display: flex;
    justify-content: center;
    margin-top: calc(240 / 1920 * 100vw);
}
.btm-pic{
    width: calc(720 / 1920 * 100vw);
    height: calc(400 / 1920 * 100vw);
    background-size: cover !important;
}
#btm-pic-1 {
    background: url("../img/ukbird3.png");
}
#btm-pic-2 {
    background: url("../img/ukbird4.png");
}
/*
    Copyright
*/
footer {
    margin-top: calc(189 / 1920 * 100vw);
}
small {
    width: calc(996 / 1920 * 100vw);
    font-family: Mont;
    font-size: calc(55 / 1920* 100vw);
    line-height: calc(70 / 1920 * 100vw);
    text-align: center;
    text-transform: uppercase;
}