
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Переправа</title>
    <link rel="stylesheet" href="../static/css/deer.css">
</head>
<body>
    <header>
        <h1 class="logo" onclick="location.href = '/'">Kyivart</h1>
        <div class="head">
            <div class="mural-pic"></div>
            <div class="mural-data">
                <div class="mural-label">
                    <div class="label-category">Мурал</div>
                    <div class="label-name">Переправа</div>
                </div>
                <div class="mural-description">
                    <p class="desc-item"><u>Де</u>: вулиця Волоська, 19/22</p>
                    <p class="desc-item"><u>Час створення</u>: червень 2015 року</p>
                    <p class="desc-item"><u>Автор</u>: австралійський художник Фінтан Меджі</p>
                </div>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="history-txt">
            <p class="story-1">
                У червні 2015 року, на будівлі санітарно-епідеміологічної служби, з'явився один з перших муралів столиці,
                які збереглися дотепер. На малюнку, що займає всю стіну, зображений чоловік у вишиванці і олень. Стріт-арт
                присвячений темі охорони навколишнього середовища і покликаний привернути увагу громадськості до актуальних
                проблем екології.
            </p>
        </div>
        <div class="story-pic-big"></div>
        <div class="add-info">
            <p class="add-info-txt">
                Автор  - креативний австралійський художник британського походження Фінтан Меджі. Він переніс на стіну
                переживання про довкілля і взаємовідносини з людиною. В сумі це вилилося в "Людину з оленем", або ж, як
                ще називають цей прекрасний мурал - “Преправа”. Подивитися на вуличний стріт-арт об’єкт можна на Подолі
                на вулиці Волоська, будинок 19/22.
            </p>
            <div class="spec-border"></div>
        </div>
        <div class="bottom-pics">
            <div class="btm-pic" id="btm-pic-1"></div>
            <div class="btm-pic" id="btm-pic-2"></div>
        </div>
    </section>
    <footer>
        <small>© Kyivart.net. All rights reserved.</small>
    </footer>
</body>
</html>