
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Лабіринт</title>
    <link rel="stylesheet" href="../static/css/labyrinth.css">
</head>
<body>
    <header>
        <h1 class="logo" onclick="location.href = '/'">Kyivart</h1>
        <div class="head">
            <div class="mural-pic"></div>
            <div class="mural-data">
                <div class="mural-label">
                    <div class="label-category">Мурал</div>
                    <div class="label-name">Лабіринт</div>
                </div>
                <div class="mural-description">
                    <p class="desc-item"><u>Де</u>: вулиця Дмитрівська 62/20</p>
                    <p class="desc-item"><u>Час створення</u>: в березні 2016 року</p>
                    <p class="desc-item"><u>Автор</u>: російський вуличний художник Rustam QBic (Рустам Салемгараев)</p>
                </div>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="history-txt">
            <p class="story-1">
                Мурал на вулиці Дмитрівській намалював російський вуличний художник з Казані Рустам Салемгараев, відомий
                як Rustam QBic. Стріт-арт був створений в рамках проекту Art United Us, присвяченого темі війни, агресії
                і пропаганди. На фасаді будівлі автор зобразив подорожнього, що шукає вихід з лабіринту. Малюнок символізує
                мир і показує життя як лабіринт рішень.
            </p>
        </div>
        <div class="story-pic-big"></div>
        <div class="add-info">
            <p class="add-info-txt">
                Цей, неймовірної краси, стріт-арт об’єкт про те, як кожен з нас протягом усього життя вирішує ті чи інші
                завдання, шукає вихід з лабіринту проблем. Мурал на Дмитрівській потрапив в топ-10 популярних стріт-арт
                об'єктів світу за березень 2016 з версії видання StreetArtNews, зайнявши 4 місце. Поруч розташована релігійна
                громада зажадала його зафарбувати, але цього, на щастя, не сталось.
            </p>
            <div class="spec-border"></div>
        </div>
        <div class="bottom-pics">
            <div class="btm-pic" id="btm-pic-1"></div>
            <div class="btm-pic" id="btm-pic-2"></div>
        </div>
    </section>
    <footer>
        <small>© Kyivart.net. All rights reserved.</small>
    </footer>
</body>
</html>