
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Паперові літачки</title>
    <link rel="stylesheet" href="../static/css/planes.css">
</head>
<body>
    <header>
        <h1 class="logo" onclick="location.href = '/'">Kyivart</h1>
        <div class="head">
            <div class="mural-pic"></div>
            <div class="mural-data">
                <div class="mural-label">
                    <div class="label-category">Мурал</div>
                    <div class="label-name">вулиця Антоновича, 48-а</div>
                </div>
                <div class="mural-description">
                    <p class="desc-item"><u>Де</u>: вулиця Антоновича, 48-а</p>
                    <p class="desc-item"><u>Час створення</u>: червень 2015 року</p>
                    <p class="desc-item"><u>Автор</u>: Саша Корбан, за підтримки фонду Sky Art Foundation</p>
                </div>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="history-txt">
            <p class="story-1">
                Біля метро Олімпійська в Києві, на торці будинку за адресою вулиця Антоновича, 48-а, розташований мурал
                із зображенням хлопчика, який запускає паперові літачки в ясне блактине небо. Мурал "Паперові літачки"
                був створений за підтримки фонду Sky Art Foundation. Стріт-арт обєкт  був створений українським
                художником-графітчиком Олександром Корбаном.
            </p>
        </div>
        <div class="story-pic-big"></div>
        <div class="add-info">
            <p class="add-info-txt">
                Він символізує дитинство проведений не за комп'ютером і іншими гаджетами, а веселе дитинство за активними
                іграми у дворі. Цей малюнок змушує задуматися про проведення часу без технологій та шукати цікаві події
                у своєму місті. Є свого роду соціальним графіті-проектом для майбутнього покоління. Стріт-арт "Паперові літачки"
                радують жителів і гостей столиці з червня 2015 року.
            </p>
            <div class="spec-border"></div>
        </div>
        <div class="bottom-pics">
            <div class="btm-pic" id="btm-pic-1"></div>
            <div class="btm-pic" id="btm-pic-2"></div>
        </div>
    </section>
    <footer>
        <small>© Kyivart.net. All rights reserved.</small>
    </footer>
</body>
</html>