
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Відродження України</title>
    <link rel="stylesheet" href="../static/css/rebirth.css">
</head>
<body>
    <header>
        <h1 class="logo" onclick="location.href = '/'">Kyivart</h1>
        <div class="head">
            <div class="mural-pic"></div>
            <div class="mural-data">
                <div class="mural-label">
                    <div class="label-category">Мурал</div>
                    <div class="label-name">Відродження України</div>
                </div>
                <div class="mural-description">
                    <p class="desc-item"><u>Де</u>: вулиця Спаська, 6А</p>
                    <p class="desc-item"><u>Час створення</u>: навесні 2014 року </p>
                    <p class="desc-item"><u>Автор</u>: художник Олексій Кислова з Севастополя і Жюльєн Маллан з Франції</p>
                </div>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="history-txt">
            <p class="story-1">
                "Відродження" - напевно найвідоміший київський мурал. Адже стріт-арт розташований в творчому серці столиці,
                такому улюбленому туристами і жителями міста, Андріївському узвозі. Мурал створений французькими та українськими
                художниками в рамках фестивалю «Французька весна».  Олексій Кислова і Жюльєн Маллан на 15-метровій стіні зобразили
                дівчину, яка символізує дух країни.
            </p>
        </div>
        <div class="story-pic-big"></div>
        <div class="add-info">
            <p class="add-info-txt">
                Цей стінопис з’явився навесні 2014 року після революційних дій на Майдані Незалежності. На малюнку зображена
                українка з вінком на голові, котра тримає хлопчика в правій руці, а на першому плані намальовані різні історичні
                будівлі. Автори присвятили свою роботу відродженню Україні, бо саме в 2013-2014 роках відбувся Євромайдан,
                який ознаменував початок здобуття справжньої незалежності.
            </p>
            <div class="spec-border"></div>
        </div>
        <div class="bottom-pics">
            <div class="btm-pic" id="btm-pic-1"></div>
            <div class="btm-pic" id="btm-pic-2"></div>
        </div>
    </section>
    <footer>
        <small>© Kyivart.net. All rights reserved.</small>
    </footer>
</body>
</html>