<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Протони КПІ</title>
    <link rel="stylesheet" href="../static/css/selfmademan.css">
</head>
<body>
    <header>
        <h1 class="logo" onclick="location.href = '/'">Kyivart</h1>
        <div class="head">
            <div class="mural-pic"></div>
            <div class="mural-data">
                <div class="mural-label">
                    <div class="label-category">Мурал</div>
                    <div class="label-name">Selfmademan</div>
                </div>
                <div class="mural-description">
                    <p class="desc-item"><u>Де</u>: вул. Гончара, 24а  </p>
                    <p class="desc-item"><u>Час створення</u>: у жовтні 2015 року </p>
                    <p class="desc-item"><u>Автор</u>: український художник Олександр Гребенюк</p>
                </div>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="history-txt">
            <p class="story-1">
                Неймовірної краси мурал створив український художник Олександр Гребенюк. Полотно присвячене творчим людям - людям, які створюють себе самі - і роботі журналістів. Твори художника прикрашають також стіни будинків в інших містах України. Серед його робіт - твір «Той, що сіє сни» в Кам'янець-Подільському, «Червона шапочка», «Фламінго», «Холмс і Ватсон» у Донецьку.
            </p>
        </div>
        <div class="story-pic-big"></div>
        <div class="add-info">
            <hr class="rule-info">
            <p class="add-info-txt">
                «У якості образу я використав людину, що друкує на машинці та занурена у цей процес і свою ідею настільки, що починає втрачати обриси, сама перетворюючись на те, що робить», - розповідає Олександр. Створений образ - це образ людини не просто захопленої, а майже одержимої, «що шукає і знаходить». Малюнок займає декілька стін великого будинку, що підкреслює його масштабність.
            </p>
            <hr class="rule-info">
        </div>
        <div class="bottom-pics">
            <div class="btm-pic" id="btm-pic-1"></div>
            <div class="btm-pic" id="btm-pic-2"></div>
        </div>
    </section>
    <footer>
        <small>© Kyivart.net. All rights reserved.</small>
    </footer>
</body>
</html>